/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #120f2d;
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('images/campus.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}

/* Button */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #f9a825;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #f57f17;
}

/* Sections */
.section.about-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url('images/about.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}
.section {
    padding: 120px 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    color: white;
}
.programs-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url('images/campus2.jpg');
    background-size: cover;
    background-position: center;
    color: #120f2d;
}

.alt {
    background: #f9f9f9;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    transition: 0.3s;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.cta-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url('images/cta.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

/* Footer */
footer {
    background-color: #120f2d;
    color: white;
    text-align: center;
    padding: 20px;
}

/* logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
}